<strong>Olá, {{ student }}</strong>
<p> Sua matrícula está confirmada!</p>
<p>
    <strong>Plano:</strong> {{title}} <br/>
    <strong>Valor mensal: </strong> R${{monthPrice}} <br/>
    <strong>Valor total: </strong> R${{totalPrice}} <br/>
    <strong>Data de inicio: </strong> {{date}} <br/>
    <small>
        Data de término da matrícula: {{endDate}}
    </small>

</p>